body	{
	background-color:#CA1A1A 
}

.topnav {
  background-color: #CA1A1A ;
  overflow: hidden;
}

.topnav a {
 
  text-align: center;
  color: #B81ACA ;
  padding: 12px;
   float: left;
  font-size: 20px;
}


h1	{
	font-family:  "Times New Roman";
        text-align: center;
        margin-bottom: 10px;
	margin-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	border: medium solid #A40525;
	border-top-left-radius: 10px; 
}

p	{
	font-family: "Times New Roman";
	padding-right: 10px;
	border-style: solid;
	padding-right: 5px;
	margin-top: 2px;
}

a:link {color: #1A823C }
a:hover {color: #2E5ACB }

.topnav a:hover {
  background-color: #121005  ;
  color: #EECC21 ;
}

.topnav a.active {
  background-color: #121005  ;
  color: #EECC21 ;
}

